name: Development Check

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "main"

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    environment:
      name: development
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Linting check
        run: pnpm run lint

      - name: Build Next.js app
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
        run: pnpm run build

      - name: Success
        run: echo " ~Build successful~ "
